body{
	background-color: grey;
}
h1{
	font-size: 30px;
	color: salmon;
}
.b{
	font-size: 55px;
}
.a{
	color: hotpink;
	text-transform: uppercase;
}
span{
	color: navy;
	font-size: 45px;
}
h1 span{
	font-size: 75px;
}
